.left-container{
  width: 100%;
  height: 100vh;
  background  : linear-gradient(#82b6f5,#FFFFFF24);

}
*{
  overflow: hidden;
}
.modal-content{
width: 374px !important;
border-top-left-radius: calc(0.9rem - 1px) !important;
border-top-right-radius: calc(0.9rem - 1px) !important;
}
.modal-header{
  background-color: #5BBB64 !important;
}
.modal-header {
  border-top-left-radius: calc(0.8rem - 1px) !important;
  border-top-right-radius: calc(0.8rem - 1px) !important;
}
.fa-times{
  background: white;
  padding: 4px;
  border-radius: 3px;
}
.checkBoxLabel{
  font-size: 15px;
    font-weight: bold;
    margin-top: -2px;
}
#exampleModalLongTitle{
  position: relative;
  left: 8em;
  color: white;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.para-text{
  color: #6B6B6B;
    text-align: center;
    font-size: 46px;

}
.left-img{
  margin-top: 1em;
}
.login-text{
  color: #4A4A4A;
  font-size: 35px;
}
.login-para{
  color: #878787;
  font-size: 18px;
}
label{
  color: #000000;
  font: normal normal medium 18px/27px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-size: 17px;
font-weight: 500;
}
.form-control{
  box-shadow: 0px 3px 6px #0000001C;
  width: 90%;

}
.remmeber{
  font-weight: normal;
}
.submit-btn{
  width: 90%;
  background-color: #FEC524;
  box-shadow: 0px 3px 8px #00000045;
  border: none;
  height: 37px;
  font-weight: 500;
  border-radius: 6px;
}
.justify-content-between p u {
  color: #4B81C2;
  text-decoration: underline;
  cursor: pointer;
}
input{
  padding-left: 12px;
  font-size: 18px;
}
.md-spinner {
  float:left;
  width: 24px;
  height: 24px;
  margin: 5px 10px 0px 0px;
}
.eye-close{
  float: right;
  margin-right: 3em;
  margin-bottom: 2em;
  margin-top: -28px;
}
.eye-slash-first{
  float: right;
  margin-right: 3em;
  margin-bottom: 2em;
  margin-top: -28px;
}
::ng-deep .modal-dialog{
  max-width: 30% !important;
  width: 30%;

}

::ng-deep .modal-content {
  border-top-left-radius: calc(0.8rem - 1px) !important;
  border-top-right-radius: calc(0.8rem - 1px) !important;
}
